@charset "UTF-8";
@font-face {
  font-family: 'CaviarDreams';
  src: url("../fonts/CaviarDreams.ttf") format("truetype");
}

@font-face {
  font-family: 'CaviarDreams_Bold';
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype");
}

body {
  color: #fff;
  font-family: 'CaviarDreams', '遊ゴシック', 'ヒラギノ角ゴ ProN';
}

.mob_header_wrapper {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.mob_header_wrapper h1 {
  padding-left: 5%;
}

.mob_header_wrapper h1 img {
  width: 60px;
}

.mob_header_wrapper .header_icon {
  margin-right: 50px;
}

.mob_header_wrapper .header_icon .icon {
  width: 27px;
}

h2 {
  font-size: 33px;
  text-align: center;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2:before,
h2:after {
  border-top: 1px solid #fff;
  content: "";
  width: 20px;
}

h2:before {
  margin-right: 20px;
}

h2:after {
  margin-left: 20px;
}

section {
  padding: 70px 0;
}

/*========= ナビゲーションのためのCSS ===============*/
#g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 9999;
  /*ナビのスタート位置と形状*/
  top: 0;
  right: -120%;
  width: 70%;
  height: 100vh;
  /*ナビの高さ*/
  background: #00075D;
  /*動き*/
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 9999;
  width: 70%;
  height: 100vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  z-index: 9999;
  padding: 70px 10px 0 10px;
}

/*リストのレイアウト設定*/
#g-nav li {
  list-style: none;
  text-align: left;
  border-bottom: 2px solid #EEB50A;
  margin-bottom: 20px;
}

#g-nav li a {
  color: #EEB50A;
  opacity: 1;
  text-decoration: none;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: 'CaviarDreams_Bold';
  font-size: 13px;
}

.arrow {
  display: block;
  width: 7px;
  height: 7px;
  border-top: solid 2px #EEB50A;
  border-right: solid 2px #EEB50A;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-subText {
  font-size: 8px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: normal;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: fixed;
  z-index: 99999;
  /*ボタンを最前面に*/
  top: 10px;
  right: 7px;
  cursor: pointer;
  width: 50px;
  height: 60px;
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 1px;
  background-color: #fff;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/*==================================================
じわっ
===================================*/
/* ぼかしから出現 */
.blur {
  -webkit-animation-name: blurAnime;
          animation-name: blurAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes blurAnime {
  from {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes blurAnime {
  from {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.fadeIn {
  -webkit-animation-name: fadeInAnime;
          animation-name: fadeInAnime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeInTrigger,
.fadeUpTrigger {
  opacity: 0;
}

/*===========================================================*/
/*テーブル
/*===========================================================*/
table {
  border-collapse: collapse;
  width: 90%;
  font-size: 14px;
  font-family: '遊ゴシック', 'ヒラギノ角ゴ ProN';
  table-layout: auto;
  margin: 0 auto;
}

th {
  border: 1px solid #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 30%;
  line-height: 20px;
}

td {
  border: 1px solid #fff;
  width: 70%;
}

/*===========================================================*/
/*ショップイメージ
/*===========================================================*/
.shopImg_wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.shopImg_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shopImg {
  position: relative;
  width: calc(100% / 3);
  background-color: #fff;
}

.shopImg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.shopImg img:hover {
  opacity: 0.8;
}

.shopImg::before {
  content: "";
  display: block;
  padding-top: 100%;
}

/*===========================================================*/
/*ACCESS
/*===========================================================*/
#access {
  background-color: #000;
}

.map_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/*===========================================================*/
/*shop_info
/*===========================================================*/
#access {
  padding: 70px 0 0 0;
}

.footer_wrapper {
  background-color: #525252;
  font-family: '遊ゴシック', 'ヒラギノ角ゴ ProN';
  display: block;
}

.footer_logo_mob {
  width: 77px;
  margin: 20px;
}

.footerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 23px;
  font-size: 13px;
  max-width: 800px;
  margin: 30px auto;
}

.shop_info {
  margin: 0 auto;
  padding-top: 30px;
}

.bold {
  font-weight: bold;
}

.open {
  margin-top: 15px;
}

.footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_bottom img {
  width: 24px;
  margin: 20px 10px;
}

.footer_text {
  text-align: center;
  font-size: 10px;
  padding-bottom: 80px;
}

#mob_footer.fixed {
  position: fixed;
  z-index: 9;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1d1d;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.mob_footer_icon {
  width: calc(100% / 5);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
}

.mob_footer_icon img {
  height: 20px;
}

.mob_footer_icon p {
  font-size: 8px;
  color: #EF8582;
  padding: 5px 0 10px 0;
}

/*===========================================================*/
/*レスポンシブ
/*===========================================================*/
@media (max-width: 767px) {
  .pc_header {
    display: none;
  }
  .footer_logo_pc {
    display: none;
  }
}

@media (min-width: 767px) {
  .pc_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    position: fixed;
    z-index: 9;
    height: 100px;
  }
  .pc_headerlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'CaviarDreams_Bold';
  }
  .pc_header_contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
    padding: 0 10px;
  }
  .pc_header_contents .nav-subText {
    font-size: 12px;
  }
  .header_icon_pc .icon {
    width: 27px;
  }
  .mob_header,
  .mob_header_wrapper,
  .openbtn {
    display: none;
  }
  #header {
    height: 100px;
  }
  #header h1 img {
    width: 100px;
  }
  #mob_footer {
    display: none !important;
  }
  .shop_info {
    max-width: 1000px;
    padding-top: 50px;
  }
  .shop_info img {
    width: 144px;
  }
  .shopImg {
    position: relative;
    width: calc(100% / 4);
    background-color: #fff;
  }
  .shopImg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer_text {
    padding-bottom: 30px;
  }
  .footer_logo_mob {
    display: none;
  }
}
/*# sourceMappingURL=common.css.map */