@charset "UTF-8";
body {
  background-color: black;
}

.recruit_main {
  padding-top: 100px;
  font-family: '遊ゴシック', 'ヒラギノ角ゴ ProN';
}

@media (min-width: 767px) {
  .recruit_main {
    padding-top: 10px;
  }
}

.recruit_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recruit_banner img {
  width: 95%;
  margin: 0 auto;
  max-width: 1100px;
}

.recruit_heading {
  font-family: 'ヒラギノ明朝 ProN', '游明朝';
  font-size: 27px;
}

.point_wrapper_cast {
  width: 90%;
  max-width: 800px;
  border: 1px solid #FFA8C0;
  padding: 25px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 30px;
}

.point_wrapper_staff {
  width: 90%;
  max-width: 800px;
  border: 1px solid #BEFAFE;
  padding: 25px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 30px;
}

.r-cast-color {
  color: #ffa3ce;
  text-shadow: 0 0 10px #ff0077, 0 0 15px #ff0077;
  border-bottom: 1px dashed #838383;
}

.r-staff-color {
  color: #BEFAFE;
  text-shadow: 0 0 10px #0099ff, 0 0 15px #0099ff;
  border-bottom: 1px dashed #838383;
}

.point_heading {
  font-size: 20px;
  padding-bottom: 20px;
  line-height: 30px;
}

.point_text {
  font-size: 13px;
  margin: 15px 5px;
  line-height: 23px;
}

/*===========================================================*/
/*お問い合わせ１
/*===========================================================*/
#pc_recruit_contact {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(../img/shop_image/shopImg_06.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/shop_image/shopImg_06.jpg);
  /* 背景画像指定 */
  background-size: cover;
  background-position: center;
  padding: 30px 10px;
  font-family: '遊ゴシック', 'ヒラギノ角ゴ ProN';
}

.r-contact_title {
  padding: 25px 0;
  font-size: 27px;
  font-weight: bold;
}

.r_contact_text {
  line-height: 30px;
  margin-bottom: 20px;
}

.r_btn_wrapper {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
}

.r_contact_btn {
  width: 32%;
  border-radius: 25px;
  height: 55px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
}

.r_contact_btn img {
  width: 25px;
  padding-top: 10px;
}

.r_contact_btn p {
  position: absolute;
  font-size: 12px;
  padding: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  white-space: nowrap;
}

.pc_line {
  background: #c8e63a;
  background: linear-gradient(164deg, #c8e63a 0%, #008c00 100%);
}

.pc_mail {
  background: #e65888;
  background: linear-gradient(164deg, #e65888 0%, #750185 100%);
}

.pc_tel {
  background: #43c4ad;
  background: linear-gradient(164deg, #43c4ad 0%, #0620b0 100%);
}

.r_contact_time {
  font-size: 12px;
  padding: 10px 0 20px 0;
}

/*===========================================================*/
/*スタッフ求人概要
/*===========================================================*/
.recruit_btn_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Safari etc. */
  -ms-flex-wrap: wrap;
  /* IE10        */
  flex-wrap: wrap;
  width: 90%;
  max-width: 450px;
  margin: 0 auto 70px auto;
}

.r-table_btn {
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  border-radius: 5px;
  padding: 10px 0;
  margin: 7px 0;
}

.r-table_btn_text {
  font-size: 12px;
  padding-bottom: 5px;
}

.dli-chevron-down {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  width: 9px;
  height: 9px;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-25%) rotate(135deg);
          transform: translateY(-25%) rotate(135deg);
}

.r-staff-table {
  margin-bottom: 60px;
}

caption {
  padding: 15px 20px;
  color: #000;
  background-color: #fff;
  font-size: 15px;
  font-weight: bold;
}

/*===========================================================*/
/*テーブル
/*===========================================================*/
.recruit_table {
  max-width: 800px;
}

.recruit_th {
  width: 25%;
}

.recruit_td {
  padding: 5%;
  font-size: 13px;
  line-height: 23px;
}

.table_title {
  font-size: 18px;
}

.big_money {
  font-size: 16px;
  color: #FF0000;
  line-height: 30px;
  font-weight: bold;
}

.recruit_td_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 300px;
}

/*===========================================================*/
/*働くまでの流れ
/*===========================================================*/
#work_flow {
  max-width: 1200px;
  margin: 0 auto;
}

.w_f_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.w_f_heading {
  font-size: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w_f_heading:before,
.w_f_heading:after {
  border-top: 1px solid #fff;
  content: "";
  width: 20px;
}

.w_f_heading:before {
  margin-right: 20px;
}

.w_f_heading:after {
  margin-left: 20px;
}

.recruit_heading_sub {
  font-size: 13px;
  text-align: center;
  color: #FFB43C;
  font-weight: bold;
}

.w_f_heading {
  font-size: 22px;
}

.w_f_contents {
  width: 90%;
  border: 1px solid #FFB43C;
  padding: 25px 0 10px 0;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 30px;
  font-family: '遊ゴシック', 'ヒラギノ角ゴ ProN';
  letter-spacing: 1px;
  height: 340px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 370px;
  position: relative;
}

.w_f_headding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.w_f_headding img {
  width: 50px;
  padding: 8px;
  border-radius: 50%;
}

.w_f_TEL img {
  background-color: #1076CB;
}

.w_f_LINE img {
  background-color: #12C211;
}

.w_f_MAIL img {
  background-color: #8E00A0;
}

.w_f_heading_text {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  margin-left: 15px;
}

.w_f_explanation {
  font-size: 13px;
  line-height: 23px;
}

.w_f_explanation_sub {
  font-size: 10px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7px 0 7px;
  border-color: #fff transparent transparent transparent;
  margin: 5px auto;
}

/*===========================================================*/
/*働くまでの流れ ボタン
/*===========================================================*/
.my-btn {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 90%;
}

.my-btn a {
  display: inline-block;
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  color: #fff !important;
  text-decoration: none;
  font-size: 15px;
  line-height: 27px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.w_f_TELBtn {
  background-color: #1076CB;
  border-bottom: 4px solid #0661ac;
  overflow: hidden;
}

.w_f_LINE_btn {
  background: #12C211;
  border-bottom: 4px solid #029702;
  overflow: hidden;
}

.w_f_MAIL_btn {
  background: #8E00A0;
  border-bottom: 4px solid #750185;
  overflow: hidden;
}

/* ボタンを凹ませる */
.my-btn a:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  /*下に動く*/
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  /*影を小さく*/
  border-bottom: none;
}

/* ボタンをキラッとさせる */
.my-btn a:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-image: linear-gradient(130deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 80%, white 81%, rgba(255, 255, 255, 0) 100%);
  -webkit-animation: shine 3s infinite;
          animation: shine 3s infinite;
  /* inifiniteによりずっと続ける */
}

@-webkit-keyframes shine {
  33% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes shine {
  33% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

/* テキストの後ろにarrow */
.my-btn a:after {
  content: '»';
  display: inline-block;
  color: #fff;
  padding-left: 10px;
  font-size: 20px;
}

.my-btn a {
  width: 90%;
}

/*===========================================================*/
/*働くまでの流れ ボタン
/*===========================================================*/
#mob_footer_fixed {
  position: fixed;
  z-index: 9;
  bottom: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: '遊ゴシック', 'ヒラギノ角ゴ ProN';
  height: 55px;
  margin: 0 auto;
}

#mob_footer_fixed .r-mob_footer_icon {
  width: 31%;
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
  border-radius: 25px;
  height: 100%;
}

#mob_footer_fixed .r-mob_footer_icon img {
  height: 20px;
}

#mob_footer_fixed .r-mob_footer_icon p {
  font-size: 9px;
  padding: 5px 0 6px 0;
  font-weight: bold;
}

.footer_line_btn {
  background: #c8e63a;
  background: linear-gradient(164deg, #c8e63a 0%, #008c00 100%);
}

.footer_mail_btn {
  background: #e65888;
  background: linear-gradient(164deg, #e65888 0%, #750185 100%);
}

.footer_mail_icon {
  padding: 2px;
}

.footer_tel_btn {
  background: #43c4ad;
  background: linear-gradient(164deg, #43c4ad 0%, #0620b0 100%);
}

@media (min-width: 767px) {
  #mob_footer_fixed {
    display: none;
  }
}

@media (max-width: 767px) {
  #pc_recruit_contact {
    display: none;
  }
}
/*# sourceMappingURL=recruit.css.map */